jira_automation.json
[{"createdAt":"2025-05-27T10:10:52.064Z","updatedAt":"2025-06-10T11:05:59.000Z","id":"CESRZmlUjKE76NH4","name":"Jira workflow","active":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":307600587,"mode":"list","cachedResultName":"SCV2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit#gid=307600587"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","headerRow":5,"firstDataRow":6}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,-220],"id":"17da10f4-95d1-44e1-8e4e-afdd9fe48aa3","name":"ReadAIVenueSheet1","retryOnFail":true,"alwaysOutputData":false,"maxTries":5,"waitBetweenTries":2000,"credentials":{"googleSheetsOAuth2Api":{"id":"m0FT3RYyByBWA4FU","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"project":{"__rl":true,"value":"10000","mode":"id"},"issueType":{"__rl":true,"value":"10001","mode":"id"},"summary":"={{ $json['Venue link'] }}","additionalFields":{"description":"={{ $json.Overall }}\n\nTEL :{{ $json.Tel }}\nAddress : {{ $json.Address }}"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[240,-240],"id":"5665e555-7c30-4f29-9805-51d7ded7efc5","name":"Jira Software","credentials":{"jiraSoftwareCloudApi":{"id":"HY4htLOz7fv5Gu0y","name":"Jira SW Cloud account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":181710862,"mode":"list","cachedResultName":"Zillow_NY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit#gid=181710862"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-320,-220],"id":"2756fe20-f26d-4352-a89f-3c93d3de122e","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"NFLX3Dc3gxEk47VJ","name":"Google Sheets Trigger account"}}}],"connections":{"ReadAIVenueSheet1":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[]]},"Google Sheets Trigger":{"main":[[{"node":"ReadAIVenueSheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc","sheetId":181710862,"lastRevision":42636,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc&revision=42636&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f8a421b9-6b54-483c-bee7-7df9471d5632","triggerCount":1,"tags":[]}]