jira_automation.json
[{"createdAt":"2025-05-27T10:10:52.064Z","updatedAt":"2025-06-10T12:01:25.000Z","id":"CESRZmlUjKE76NH4","name":"Jira workflow","active":true,"nodes":[{"parameters":{"project":{"__rl":true,"value":"10000","mode":"id"},"issueType":{"__rl":true,"value":"10001","mode":"id"},"summary":"={{ $json.Source.replaceAll(\"\\n\",\"\") }} {{ $json.Address.replaceAll(\"\\n\",\"\") }}","additionalFields":{"description":"=Overall :\n{{ $json.Overall }}\nLink : \\n\n{{ $json['Venue link'] }}\nCrime check : \n{{ $json['Megans law/ Crimemapping'] }}\nNote : \n{{ $json.Note }}\n@Fibi Nguyen"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[420,-260],"id":"5665e555-7c30-4f29-9805-51d7ded7efc5","name":"Jira Software","credentials":{"jiraSoftwareCloudApi":{"id":"HY4htLOz7fv5Gu0y","name":"Jira SW Cloud account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":307600587,"mode":"list","cachedResultName":"SCV2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit#gid=307600587"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","headerRow":5,"firstDataRow":6}}}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-320,-220],"id":"2756fe20-f26d-4352-a89f-3c93d3de122e","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"NFLX3Dc3gxEk47VJ","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cbbac44c-733f-4b10-8ece-522a9475a482","leftValue":"={{ $json.Status }}","rightValue":"Positive Response","operator":{"type":"string","operation":"equals"}},{"id":"620f5414-8c27-4068-abdf-c9ff9fcefbba","leftValue":"={{ $json.Status }}","rightValue":"Pending","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,-220],"id":"99b87be7-c53a-40e6-82be-15259190887e","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d30e0b29-2019-434c-a87e-c071af8d06c8","leftValue":"={{ $json['Failed Criteria'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"dda08994-d21a-4a28-b40c-5db7023d389a","leftValue":"={{ $json.Address }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d8b6e7a3-68fd-475e-924b-a347bed92498","leftValue":"={{ $json.TODO }}","rightValue":"and Check On jira","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,-240],"id":"fa114245-2983-4a97-9f8f-818b914046b7","name":"If1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":307600587,"mode":"list","cachedResultName":"SCV2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit#gid=307600587"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Venue link"],"schema":[{"id":"No.","displayName":"No.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Venue link","displayName":"Venue link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Overall","displayName":"Overall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Megans law/ Crimemapping","displayName":"Megans law/ Crimemapping","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Megan law\nAutomation","displayName":"Megan law\nAutomation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Failed Criteria","displayName":"Failed Criteria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Note","displayName":"Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TODO","displayName":"TODO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"HO/agent name","displayName":"HO/agent name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tel","displayName":"Tel","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"house tour: date & time","displayName":"house tour: date & time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Spalte 1","displayName":"Spalte 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Spalte 2","displayName":"Spalte 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Missing Criteria","displayName":"Missing Criteria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"10","displayName":"10","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"11","displayName":"11","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"locationDefine":{"values":{"headerRow":5,"firstDataRow":6}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[920,-260],"id":"0abdc4ed-bb92-4415-9170-73407875f655","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"m0FT3RYyByBWA4FU","name":"Google Sheets account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n$('If1').item.json.TODO = $('If1').item.json.TODO + \"and Check On jira\"\nreturn $('If1').item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-260],"id":"07617edb-0a00-4e58-bce8-0a1d656987ba","name":"Code"}],"connections":{"Jira Software":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc","sheetId":307600587,"lastRevision":56562,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc&revision=56562&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"603274bb-19c5-43e3-874a-e45d4c018d89","triggerCount":1,"tags":[]}]