jira_automation.json
[{"createdAt":"2025-05-27T10:10:52.064Z","updatedAt":"2025-06-10T11:47:31.000Z","id":"CESRZmlUjKE76NH4","name":"Jira workflow","active":false,"nodes":[{"parameters":{"project":{"__rl":true,"value":"10000","mode":"id"},"issueType":{"__rl":true,"value":"10001","mode":"id"},"summary":"={{ $json.Source.replaceAll(\"\\n\",\"\") }} {{ $json.Address.replaceAll(\"\\n\",\"\") }}","additionalFields":{"description":"=Overall :\n{{ $json.Overall }}\nLink : \\n\n{{ $json['Venue link'] }}\nCrime check : \n{{ $json['Megans law/ Crimemapping'] }}\nNote : \n{{ $json.Note }}\n@Fibi Nguyen"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[420,-260],"id":"5665e555-7c30-4f29-9805-51d7ded7efc5","name":"Jira Software","credentials":{"jiraSoftwareCloudApi":{"id":"HY4htLOz7fv5Gu0y","name":"Jira SW Cloud account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":307600587,"mode":"list","cachedResultName":"SCV2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc/edit#gid=307600587"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","headerRow":5,"firstDataRow":6}}}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-320,-220],"id":"2756fe20-f26d-4352-a89f-3c93d3de122e","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"NFLX3Dc3gxEk47VJ","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cbbac44c-733f-4b10-8ece-522a9475a482","leftValue":"={{ $json.Status }}","rightValue":"Positive Response","operator":{"type":"string","operation":"equals"}},{"id":"620f5414-8c27-4068-abdf-c9ff9fcefbba","leftValue":"={{ $json.Status }}","rightValue":"Pending","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,-220],"id":"99b87be7-c53a-40e6-82be-15259190887e","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d30e0b29-2019-434c-a87e-c071af8d06c8","leftValue":"={{ $json['Failed Criteria'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"dda08994-d21a-4a28-b40c-5db7023d389a","leftValue":"={{ $json.Address }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,-240],"id":"fa114245-2983-4a97-9f8f-818b914046b7","name":"If1"}],"connections":{"Jira Software":{"main":[[]]},"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Jira Software","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc","sheetId":307600587,"lastRevision":56465,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1VF2OD700xD_mVML_cwKjk4_biGphB1kicOkVu4X3Tlc&revision=56465&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8a83643e-7de0-475b-afe5-a7dd9f1632d7","triggerCount":1,"tags":[]}]